body{
    text-align: center;
    background-color: cornsilk;
    font-style: italic;
}
div{
    margin: 15px;
}
.imgsec{
    display: flex;
    justify-content: center;
}
.secstyle{
    margin-left: 25px;
    margin-right: 25px;
    background-color: aliceblue;
}
img{
    width: 450px;
}